<a href='{{ siteUrl }}' class='logo'><img src='{{ siteUrl }}img/d.svg'></a>

  <div class="hamburger hamburger--squeeze toggle-overlay overlay-btn">
    <div class="hamburger-box">
      <div class="hamburger-inner"></div>
    </div>
  </div>

<aside>
	<nav>
		<a href='{{ siteUrl }}' class='logo'><?xml version="1.0" encoding="utf-8"?>
			<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" style="enable-background:new 0 0 1000 1000;" xml:space="preserve">
				<style type="text/css">
					.st0{fill:#353435;}
					.st1{fill:#231F20;}
					.st2{opacity:0.3;fill:#231F20;enable-background:new    ;}
				</style>
				<g>
					<path class="st0" d="M499.5,28H27v945h472.5C760.4,973,972,761.4,972,500.5S760.4,28,499.5,28z"/>
					<polygon class="st1" points="499,500 27,500 27,28 	"/>
					<rect x="27" y="500" class="st2" width="472" height="473"/>
				</g>
			</svg>
		</a>
		<ul class='links'>
			<li><a href="{{ url('projects') }}">Work</a></li>
			<li><a href="{{ url('studio') }}">Studio</a></li>
			<li><a href="{{ url('contact') }}">Contact</a></li>
		</ul>
		<a href='mailto:'>heythere@dayshapes.com</a>
		<p>1-402-980-5368</p>
		<ul class='social'>
			<li><a href='https://www.facebook.com/'><i class='fa fa-facebook'></i></a></li>
			<li><a href='https://www.twitter.com/'><i class='fa fa-twitter'></i></a></li>
			<li><a href='https://www.instagram.com/'><i class='fa fa-instagram'></i></a></li>
		</ul>
	</nav>
</aside>