.project-intro {
	padding: 300px 0 100px 0;
	max-width: 65%;
}

.project-intro h3 {
	margin-bottom: 20px;
}

ul.grid-half {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.grid-half li {
	width: 100;
	float: left;
	margin-bottom: 75px;
}

ul.grid-half img {
	-moz-transition: all 0.3s ease-in,all 0.35s ease-out;
	-o-transition: all 0.3s ease-in,all 0.35s ease-out;
	-webkit-transition: all 0.3s ease-in,all 0.35s ease-out;
	transition: all 0.3s ease-in,all 0.35s ease-out;
	margin-bottom: 20px;
}

ul.grid-half a:hover img {
	/*opacity: .90;*/
	box-shadow: 0 0 10px rgba(0,0,0,.25)
}

ul.grid-half li:nth-child(odd){
	margin-left: 0;
}

	@media (min-width: 800px) {
	ul.grid-half li {
	}
	}


	@media (min-width: 900px) {
	ul.grid-half li {
		width: 48%;
		float: left;
		margin-left: 4%;
		margin-bottom: 150px;
	}

	ul.grid-half li:nth-child(odd){
		margin-left: 0;
	}
	}


.bottomborder {
	height: 2px;
	border-bottom: 1px solid #ddd;
	width: 100%;
	padding-top: 125px;
}


