{#
 # Projects entry template
 # -------------------
 #
 # This template gets loaded whenever a projects entry’s URL is
 # requested. That’s because the projects section’s Template setting is
 # set to “projects/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested projects entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "{{ entry.title }}" %}

{% block content %}
    <div class="copyblock" style="background-color: {{ entry.projectIntroColor }}">
    	<div class="mainheadercontainer">
  			<div class="row">
          <div class="two columns rule"></div>
    			<div class="nine offset-by-one columns">
    				<h2>{{ entry.title }}</h2>
    				<p>{{ entry.projectIntro }}</p>
    			</div>
  			</div>
		</div>
		<div class="arrow_down">&darr;</div>
	</div>

	<section class='projectcontainer animate' style="background-color: white">
		<img src='{{ entry.projectImages[0].url }}'>
		<img src='{{ entry.projectImages[1].url }}'>
		<img src='{{ entry.projectImages[2].url }}'>
		<img src='{{ entry.projectImages[3].url }}'>
		<img src='{{ entry.projectImages[4].url }}'>
		<img src='{{ entry.projectImages[5].url }}'>
		<img src='{{ entry.projectImages[6].url }}'>
	</section>

{% endblock %}
