{#
 # Project index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/projects is
 # requested, because it is located at projects/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "projects" %}

{% block content %}
	<section class="copyblock gray">
		<div class="content">
			<h4>Projects</h4>
			<h2>Our projects is the official record of life at DayShapes – a collection of assignments, ideas and experiences we can’t help but share.</h2>
		</div>
	</section>

	<section class='projects container'>
		{% for entry in craft.entries.section('projects').find() %}
			<article class="jrnl_preview">
				<div class='container'>
							
				  	<div class="four columns">
				    	<img src="img/photo2.jpeg">
				  	</div>

					<h4>{{ entry.postDate.format('F d, Y') }}</h4>
					<h1><a href="{{ entry.url }}">{{ entry.title }}</a></h1>
					{{ entry.body.getPage(1) }}
					<h4><a href="{{ entry.url }}"><span class='underline'>Read The Story</span> &rarr;</a></h4>
			
			</article>
		{% endfor %}
	</section>

{% endblock %}