{#
 # News index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/news is
 # requested, because it is located at news/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}

		<div class='container'>
			<h1 class='project-intro'>Projects</h1>
		
			<ul class='grid-half'>
				{# Fetch all of the entries related to this category #}
				{% paginate craft.entries.relatedTo(category).section('projects') as pageInfo, pageEntries %}
				{# Output them #}
				{% for entry in pageEntries %}
				<li>
					<a href='{{ entry.url }}' title='{{ entry.title }}'>
						{% set image = entry.featuredImage.first() %}
						<img src='{{image.getUrl()}}' alt='{{ image.title }}'>
						<h3>{{ entry.title }}</h3>
						<p>View Project</p>
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>

{% endblock %}
