{#
 # Project index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/projects is
 # requested, because it is located at projects/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "projects" %}

{% block content %}
	<section class="copyblock black">
		<div class="content">
			<h4>Projects</h4>
			<h2>Here's a collection of our past work. Projects range from small to large, no budget to big budget.</h2>
		</div>
	</section>

	<section class="copyblock black">
		<div class='container'>
			{% for entry in craft.entries.section('projects').find() %}
			<div class="row animate">
				<div class="label">
					<h3 style="font-size: 100px;">{{ entry.title }}</h3>
					<h4>Identity / Collateral / Product Design</h4>
				</div>
				<a href="{{ entry.url }}" class="eight columns offset-by-four featured-work overlay transition-block">
					<div class="caption">
						<h3> 
						<span class="arrow">→</span>
						<span class="view">View Project</span>
						</h3>		        			        
					</div>
				    <img src='{{ entry.featuredImage[0].url }}'>
				</a>
			</div>
			{% endfor %}
		</div>
	</section>

{% endblock %}