{#
 # Journal entry template
 # -------------------
 #
 # This template gets loaded whenever a journal entry’s URL is
 # requested. That’s because the journal section’s Template setting is
 # set to “journal/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested journal entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
	<article>
		<div class="jrnl_post-header" style="background-image: url({{ entry.featuredImage[0].url }})">
			<div class="jrnl_post-header-intro">
			  <div class='container'>
				<p class="eight columns offset-by-two">{{ entry.postDate.format('F d, Y') }}</p>
			    <h2 class="eight columns offset-by-two">{{ entry.title }}</h2>
			  </div>
			</div>
		</div>

		<section>
			<div class='container jrnl_post-container'>
			  <div class="row">
			    <div class="eight columns offset-by-two">
				{{ entry.body }}
			    </div>
			  </div>
			</div>
		</section>

	</article>
{% endblock %}



