button {
  -moz-transition: all 0.3s ease-in,all 0.35s ease-out;
  -o-transition: all 0.3s ease-in,all 0.35s ease-out;
  -webkit-transition: all 0.3s ease-in,all 0.35s ease-out;
  transition: all 0.3s ease-in,all 0.35s ease-out;
  border: none;
  background: transparent;
  color: black;
  font-size: .6em;
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  z-index: 5000000;
  line-height: 70px;
  padding: 0 40px;
  text-align: center;
  border-radius: 4px;
}

button:hover {
    color: #fff;
}