.logo {
  position: absolute;
  width: 80px;
  left: 25px;
  top: 25px;
  z-index: 1;
}
@media (min-width: 800px) {
.logo {
  width: 100px;
  left: 100px;
  top: 80px;
}
}


aside {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 2;
}

.open {
  opacity: 1;
  visibility: visible;
  z-index: 1000000001;
}

nav {
  text-align: right;
  height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  padding-right: 125px;
}
nav a {
  color: #fff;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}
nav ul li {
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 1.1;
}
nav ul li a {
  font-size: 1.5em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}
nav ul li a:hover {
  color: rgba(255, 255, 255, 1);
  padding-right: 5px;
}

@media screen and (min-width: 600px) {
  nav ul li a {
    font-size: 3em;
  }
}

.close {
  position: fixed;
  top: 80px;
  right: 80px;
  color: white;
  z-index: 3;
  cursor: pointer;
  font-family: sans-serif;
}
.close span,
.close span:before,
.close span:after {
  border-radius: 4px;
  height: 2px;
  width: 30px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
.close span {
  background: transparent;
}
.close span:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.close span:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.outer-close {
  position: absolute;
  right: 0;
  top: 0;
  width: 85px;
  height: 85px;
  cursor: pointer;
}

.overlay-btn {
  position: fixed;
  right: 50px;
  top: 50px;
  z-index: 5;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: rgba(0,0,0,.05);
  padding: 3px 10px;
}

nav ul.links {
  margin-bottom: 25px;
}
nav ul.social {
  list-style: none;
}
nav ul.social li {
  display: inline-block;
  margin: 0;
  margin-left: 10px;
}
nav ul.social li a {
  text-align: center;
  width: 30px;
  padding: 8px;
  border: 1px solid #ddd;
  font-size: 18px;
}
nav ul.social li a:hover {
  margin-right: 0;
}