{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ siteUrl }}css/master.css"> <!-- CSS reset -->
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
</head>

<body>

	<div class="header" role="banner">
		<a class="navicon-button x js-slideout-toggle"><div class="navicon"></div></a>
		<a href="index.html"><img class="logo" src="{{ siteUrl }}/img/dayshapes_horizontal.svg"></a>
	</div>

	<nav id="menu" class="menu">
			<a href="https://twitter.com/jakewelchert" target="_blank" class="fa fa-twitter"></a>
		    <a href="https://www.facebook.com/jake.welchert" target="_blank" class="fa fa-facebook"></a>
		    <a href="https://www.instagram.com/jakewelchert" target="_blank" class="fa fa-instagram"></a>
		    <a href="http://jakewelchert.tumblr.com" target="_blank" class="fa fa-dribbble"></a>
		    <a href="http://jakewelchert.tumblr.com" target="_blank" class="fa fa-linkedin"></a>
		<ul>
			<li><a href="{{ url('projects') }}" {% if craft.request.firstSegment == 'projects' %}class="active"{% endif %}>Projects</a></li>
			<li><a href="{{ url('studio') }}" {% if craft.request.firstSegment == 'studio' %}class="active"{% endif %}>Studio</a></li>
			<li><a href="{{ url('contact') }}" {% if craft.request.firstSegment == 'contact' %}class="active"{% endif %}>Contact</a></li>
			<li><a href="{{ url('journal') }}" {% if craft.request.firstSegment == 'journal' %}class="active"{% endif %}>Journal</a></li>

			{% for entry in craft.entries.section('projects').find() %}
			<li class="projectthumbs">
				<a href="{{ entry.url }}">
					<h3>{{ entry.title }}</h3>
					<h4>Identity / Collateral / Product Design</h4>
					<img src='{{ entry.featuredImage[0].url }}'>
				</a>
			</li>
			{% endfor %}

			
		</ul>
	</nav>

	<main id="panel" class="panel">
		{% block content %}
			<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
			<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
		{% endblock %}
	</main>

	<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script src='{{ siteUrl }}js/menuslide.js'></script>
	<script src='{{ siteUrl }}js/slideout.js'></script>
	<script src='{{ siteUrl }}js/index.js'></script>
	<script src="{{ siteUrl }}js/animate.js"></script>	

</body>
</html>
